    <div class="contact_container">
      <p class="contact_header">There are <span><%= Contact.all.count %></span> contacts</p>
          <% Contact.all.each do |contact| %>
          <li class="contact"><%= contact.first_name%> <%= contact.last_name %> (<%= contact.email %>)
            <br>
            <a class= "update" href="/">Edit </a> <span>|</span>
            <a class= "update" href="/">Delete</a>
            </li>
          <% end %>
        </div>
