<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><%= @crm_app_name %>!</h1>
      <p>Main menu</p>
        <ul>
          <li><a href="/contacts">View all contacts</a></li>
        </ul>

  </body>
</html>
